$hc-font: "Roboto";
$hc-primary: #ee6f2e;
$hc-danger: #9f4a1b;
$hc-white: #fff;
$hc-black: #000;
$hc-bgcolor1: #828282;
$hc-bgcolor2: #c9c9c9;
$hc-grey: #333;
$hc-grey1: #999;
$hc-grey2: #666;
$hc-grey3: #ccc;
$hc-grey4: #e6e6e0;
$hc-grey5: #f6f6f0;
