@import "./../../scss/variabels.scss";
@import "./../../scss/mixins/mqMixins.scss";

.ListContainer {
  padding: 30px 0;
  background: $hc-grey5;
}

.NewsItems {
  .ListItems {
    padding: 5px 40px 5px 20px;
    align-items: center;
    @include xs {
      padding: 5px 10px;
    }
    @include lg {
      flex-direction: column;
    }
    .RightPanel,
    .LeftPanel {
      @include lg {
        width: 100%;
      }
    }
    .RightPanel {
      @include lg {
        padding-left: 150px;
      }
      @include md {
        padding-left: 110px;
      }
      @include sm {
        padding-left: 0;
      }
    }
    .Comments {
      width: 50px;
      margin-right: 20px;
      text-align: right;
      @include md {
        width: 25px;
        margin-right: 5px;
      }
      @include sm {
        width: auto;
        margin-right: 15px;
      }
    }
    .UpVotesCount {
      width: 70px;
      margin-right: 10px;
      text-align: right;

      span {
        cursor: pointer;
        color: $hc-grey1;
        &:hover {
          color: $hc-grey2;
        }
      }
      @include sm {
        width: auto;
        margin-right: 5px;
      }
    }
    .NewsTitle {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 400px;
      white-space: nowrap;
      @include sm {
        max-width: 200px;
      }
      @include xs {
        max-width: 180px;
      }
    }
    .NewsTitle,
    .AuthorName,
    .TimeDiff,
    .HideAction,
    .LinkedDomain {
      padding: 0 5px 0 0;
    }
    .AuthorName {
      @include sm {
        display: none !important;
      }
      span {
        color: $hc-black;
        cursor: pointer;
        // &:hover {
        //   color: $hc-primary;
        // }
      }
    }
    .HideAction {
      span {
        color: $hc-black;
        cursor: pointer;
        &:hover {
          color: $hc-primary;
        }
      }
    }
  }
  .ListItems:nth-last-of-type(odd) {
    background-color: $hc-grey5;
  }
  .ListItems:nth-last-of-type(even) {
    background-color: $hc-grey4;
  }

  a {
    color: $hc-black;
    text-decoration: none;
    &:hover {
      color: $hc-primary;
    }
  }
}

.LoadMore span {
  padding: 10px 0 0 40px;
  cursor: pointer;
  color: $hc-primary;
  &:hover {
    color: darken($color: $hc-primary, $amount: 10%);
  }
  @include md {
    padding: 10px 0 0 20px;
  }
  @include xs {
    padding: 10px 0 0 10px;
  }
}

.IsLoading {
  padding: 10px 40px;
}

.RightPanel {
  font-size: 11px;
  color: $hc-bgcolor1;

  a {
    color: $hc-bgcolor1;
  }
}
